body{
    background: gainsboro;
}

nav {
    background: royalblue;
}

span {
    font-weight: bolder;
}

h1 {
    color: forestgreen;
    text-align: center;
}

h3 {
    color: forestgreen;
}
body {
    background: tan;
}