<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head('Create a Post')"></head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>
<div class="container">
    <h1>Create A Post</h1>
    <form th:action="@{/posts/create}" th:method="POST" th:object="${post}">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input th:field="*{title}" type="text" name="title" id="title" placeholder="Please enter a title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Body</label>
            <textarea th:field="*{body}" name="body" id="body" placeholder="Type your post" class="form-control"></textarea>
        </div>
        <button>Create Post</button>
    </form>
</div>
</body>
</html>