<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head('Edit a Post')"></head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>

<div>
    <h1>Edit A Post</h1>

    <form th:action="@{/posts/{id}/edit(id=${post.id})}" th:method="Post" th:object="${post}">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input th:field="*{title}" type="text" name="title" id="title" placeholder="Please enter a title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Body</label>
            <textarea th:field="*{body}" name="body" id="body" placeholder="Type your post" class="form-control"></textarea>
        </div>
        <button>Submit Edit</button>
    </form>
</div>
</body>
</html>